.hero-detail__title {
  font-size: 25px;
  padding: 20px 20px 20px 10px;
}

.hero-detail__id {
  padding-bottom: 10px;
}

.hero-detail__label {
  font-weight: bold;
  color: #607D8B;
}

.hero-detail__id-value {
  padding-left: 20px;
  color: grey;
}

.hero-detail__name {
  padding-bottom: 10px;
}

.hero-detail__name-value {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
}

.hero-detail__nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero-detail__nav-button {
  background-color: #EEE;
  height: 25px;
  border-radius: 3px;
  color: darkgray;
  font-weight: bold;
}

