.toh {
  max-width: 350px;
  min-height: 200px;
  padding-left: 10px;
  border: 2px solid lightgray;
}

.toh__title {
  align-content: center;
  vertical-align: top;
}

.toh__dashboard {
  background-color: #EEE;
  margin: 2px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  color: blue;
}

.toh__heroes {
  background-color: #EEE;
  margin: 11px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  color: blue;
}
