.toh__nav {
  max-width: 310px;
  min-height: 200px;
  padding-left: 10px;
  border: 1px solid lightgray;
}

.toh__title {
  align-content: center;
  vertical-align: top;
}

.toh__dashboard {
  background-color: #EEE;
  margin: 7px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  color: lightskyblue;
}

.toh__heroes {
  background-color: #EEE;
  margin: 1px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  color: lightskyblue;
}
